<div class="col-md-8 offset-md-2">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <table width="100%">
            <tr>
              <td width="95%">
                <input type="text" name="Mensaje" [(ngModel)]="chatRoom.Comentario" placeholder="Write your comment" class="form-control" autofocus>
              </td>
              <td>
                <a (click)="saveNewComment()"><i class="fas fa-chevron-circle-right float-right"></i></a>
              </td>
            </tr>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>